* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;

	height: 100%;

	color: #212121;
}

.nav {
	display: flex;
	height: 48px;

	align-items: center;
}

.nav > * {
	padding: 0 8px;
}

.current-link {
	text-decoration: none;
	color: #212121;

	pointer-events: none;
	cursor: default;
}

.nav > header {
	font-size: 1.5em;
}

.content {
	padding: 16px;
}

.first-run {
	height: 100%;
	overflow: auto;

	text-align: center;
}

input[type="text"],
input[type="username"],
input[type="password"] {
	outline: 0;
	border: 2px solid #212121;

	border-radius: 4px;
	padding: 8px;
	background: transparent;
}

input[type="submit"],
button {
	outline: 0;
	border: 2px solid #212121;
	border-radius: 4px;

	padding: 8px 16px;

	cursor: pointer;
}

input[type="submit"]:active,
button:active {
	background: #212121;
	color: #fff;
}

.reg-label {
	display: block;
	margin: 16px 0;
}

.reg-submit {
	margin: 16px 0;
}

.first-run video {
	width: 100%;
}

@media (min-width: 800px) {
	.first-run video {
		width: 800px;
	}
}

.first-run ul {
	width: 100%;

	text-align: left;
}

@media (min-width: 480px) {
	.first-run ul {
		width: 480px;
		margin: 0 auto;
	}
}

.first-run li {
	margin: 16px 0;
}
